<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/blog.css">

	</head>
	<body>
		<h1>My 2 Cents</h1>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="/blog/Robotics">Robotics</a>
        		<li><a href="/blog/Machine_Learning">Machine Learning</a>
        		<li><a href="/blog/Python">Python</a>			
    		</ul>
		</nav>
		
		<div class="post">
  			{{ content }}
		</div>
	</body>
</html>




