<!DOCTYPE html>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<html>
	<head>
		<title>{{ page.title }}</title>

		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<div class="img" style = 'background-image: url(assets/mine2.jpeg)'></div>
		<h1>{{ page.title }}</h1>
		<nav>
    		<ul>
        		<li><a href="./assets/Resume.pdf" download>Resume</a></li>
        		<li><a href="http://jp.linkedin.com/in/adadhich" title="LinkedIn">in</a>    
				</li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		
	</body>
	<footer>
		<div class="icons">
    		<div class="linkedin"><a href="http://jp.linkedin.com/in/adadhich" title="LinkedIn">in</a>    
		</div>
	</footer>
</html>
